/* 
====== 
Variables 
======
*/
:root {
  --primaryLightColor: #82c3e2;
  --primaryColor: #788599;
  --primaryDarkColor: #1d2b3a;
  --mainWhite: #f7f7f7;
  --offWhite: #f4f4f4;
  --mainBackground: #f2f7ff;
  --mainOverlay: rgba(0, 0, 0, 0.5);
  --mainBlack: #333;
  --mainGrey: #dcdcdc;
  --darkGrey: #888;
  --mainRed: #e94e77;
  --mainTransition: all 0.25s ease;
  --mainSpacing: 0.4rem;
  --lightShadow: 3px 6px 4px rgba(0, 0, 0, 0.15);
  --darkShadow: 5px 12px 6px rgba(0, 0, 0, 0.2);
  --mainBorderRadius: 0.3rem;
  --smallWidth: 80vw;
  --maxWidth: 90vw;
  font-size: 16px;
  --primaryButtonColor: #476a2e;
  --dropdownColor: #476a2e;
  --dropdownHover: #365d24;
}

@media screen and (min-width: 350px) {
  :root {
    --font-size-large-1: 1.2rem;
    --font-size-large-2: 2.2rem;
  }
}

@media (min-width: 780px) {
  :root {
    --font-size-large-1: 1.1rem;
    --font-size-large-2: 2.1rem;
  }
}

@media (min-width: 1024px) {
  :root {
    --font-size-large-1: 1rem;
    --font-size-large-2: 2rem;
  }
}

/* 
====== 
Global Styles 
======
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: var(--mainBlack);
  background: var(--mainBackground);
  line-height: 1.4;
  font-size: 1rem;
  font-weight: 300;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--slantedFont);
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: var(--mainBlack);
}
